.title-home {
  width: 100%;
  float: left;
  background: #f2f2f2;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #ccc;
  height: 0.68rem;
  line-height: 0.68rem;
  position: relative;
  font-size: 0.28rem;
  color: #000;
}
.title-home .line {
  width: 1.98rem;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 2px solid #df007f;
}
.title-home .line2 {
  width: 4.5rem;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 2px solid #df007f;
}
.title-home .month {
  font-size: 0.24rem;
}
.title-home .active {
  color: #df007f;
}
.content {
  width: 100%;
  float: left;
  line-height: 0.45rem;
  font-size: 0.24rem;
  color: #999999;
  box-sizing: border-box;
  padding: 0.2rem;
}
.content .active {
  color: #df007f;
}
.content02 {
  width: 100%;
  float: left;
  line-height: 0.45rem;
  font-size: 0.24rem;
  color: #000;
  box-sizing: border-box;
  padding: 0.2rem;
}
.steven {
  width: 100%;
  float: left;
  box-sizing: border-box;
  color: #000;
  padding: 0.2rem;
  line-height: 0.45rem;
  font-size: 0.24rem ;
}
.class-show {
  width: 100%;
  float: left;
}
.class-show div {
  float: left;
}
.class-show div img {
  width: 6.4rem;
  height: 3.45rem;
  float: left;
}
.kabu {
  width: 100%;
  float: left;
  box-sizing: border-box;
  color: #999999;
  padding: 0.2rem;
  line-height: 0.45rem;
  font-size: 0.24rem ;
}
.dial {
  width: 100%;
  float: left;
  position: fixed;
  left: 0;
  bottom: 0;
}
.dial a {
  float: left;
  color: #fff;
  width: 50%;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.32rem;
  text-align: center;
}
.dial a:nth-child(1) {
  background: #f5b302;
}
.dial a:nth-child(2) {
  background: #df007f;
}
