.title-home {
  width: 100%;
  float: left;
  background: #f2f2f2;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #ccc;
  height: 0.68rem;
  line-height: 0.68rem;
  position: relative;
  font-size: 0.28rem;
  color: #000;
}
.title-home ul {
  width: 3rem;
}
.title-home .line {
  width: 1.98rem;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-bottom: 2px solid #df007f;
}
.title-home .line2 {
  width: 4.5rem;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 2px solid #df007f;
}
.title-home .active {
  color: #df007f;
}
.banner {
  float: left;
  width: 100%;
}
.banner img {
  width: 6.4rem;
  height: 4rem;
  float: left;
}
.content {
  width: 100%;
  float: left;
  line-height: 0.45rem;
  color: #b6b6b6;
  font-size: 0.24rem;
  padding: 0.2rem;
  box-sizing: border-box;
}
.dial {
  width: 100%;
  float: left;
}
.dial a {
  float: left;
  color: #fff;
  width: 50%;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.32rem;
  text-align: center;
}
.dial a:nth-child(1) {
  background: #f5b302;
}
.dial a:nth-child(2) {
  background: #df007f;
}
