.title {
  width: 5.5rem;
  height: 0.8rem;
  margin-left: 0.2rem;
  padding-left: 0.5rem;
  margin-top: 1rem;
  font-size: 0.3rem;
  border: 0.01rem  solid #cccccc;
}
.cont {
  height: 3.15rem;
  width: 5.5rem;
  margin-top: 0.22rem;
  font-size: 0.3rem;
  font-weight: 600;
  margin-left: 0.2rem;
  border-top: 0.01rem solid #cccccc;
  padding: 0.2rem 0 0 0.5rem;
}
.pic {
  width: 1.4rem;
  display: block;
  height: 1.4rem;
  margin-left: 0.2rem;
  background: url("../images/card/shizi.png") no-repeat 0 0;
  background-size: 100% 100%;
  margin-top: 0.2rem;
  font-size: 0.26rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.3rem;
}
.pic .tianjia {
  text-align: center;
  position: absolute;
  left: 0.15rem;
  bottom: 0;
  width: 1.1rem;
  height: 0.4rem;
}
