.logo-home {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 0.07rem;
  border-bottom: 1px solid #cdcccc;
}
.logo-home img {
  display: inline-block;
  width: 1.35rem;
  height: 0.74rem;
  margin-bottom: 0.05rem;
}
.search {
  width: 100%;
  float: left;
  height: 0.82rem;
  background: #f2f2f2;
}
.search .border {
  width: 5.98rem;
  height: 0.58rem;
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
  border: 1px solid #cdcccc;
  border-radius: 0.35rem;
  background: #fff;
  line-height: 0.58rem;
  overflow: hidden;
}
.search .border .potion {
  color: #686666;
  font-size: 0.28rem;
  float: left;
  margin-left: 0.3rem;
}
.search .border .select {
  float: left;
  margin-left: 0.1rem;
}
.search .border .select img {
  width: 0.33rem;
  height: 0.32rem;
  float: left;
  margin-top: 0.12rem;
}
.search .border .input {
  float: left;
  width: 4.3rem;
  position: relative;
}
.search .border .input input {
  width: 4.3rem;
  float: left;
  height: 0.58rem ;
  font-size: 0.24rem;
  margin-left: 0.05rem;
}
.search .border .input img {
  width: 0.4rem;
  height: 0.32rem;
  position: absolute;
  right: 0.15rem;
  top: 0.12rem;
}
.banner {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  height: 2.22rem;
}
.banner .picture {
  width: 20rem;
  height: 100%;
  position: relative;
  left: 0;
}
.banner .picture div {
  float: left;
  width: 6.4rem;
  height: 2.22rem;
}
.banner .picture div img {
  width: 6.4rem;
  height: 2.22rem;
  display: block;
}
.banner .circle {
  position: absolute;
  bottom: 0.1rem;
  right: 3rem;
  text-align: center;
}
.banner .circle div {
  width: 0.1rem;
  height: 0.1rem;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
}
.banner .circle .active {
  background: #fff;
}
.title-home {
  width: 100%;
  float: left;
  background: #f2f2f2;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #ccc;
  height: 0.68rem;
  line-height: 0.68rem;
  position: relative;
  font-size: 0.28rem;
  color: #000;
}
.title-home .line {
  width: 1.98rem;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 2px solid #df007f;
}
.title-home .line2 {
  width: 4.5rem;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 2px solid #df007f;
}
.title-home .month {
  font-size: 0.24rem;
}
.title-home .active {
  color: #df007f;
}
.content-home {
  width: 100%;
  float: left;
}
.content-home .bgk {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.content-home .study {
  width: 100%;
  float: left;
  position: relative;
}
.content-home .study ul {
  float: left;
}
.content-home .study ul .img {
  width: 1.5rem;
  height: 1.5rem;
  float: left;
  padding: 0.2rem;
}
.content-home .study ul .tit {
  color: #000;
  font-size: 0.26rem;
  line-height: 0.4rem;
  margin-top: 0.15rem;
}
.content-home .study ul .people {
  font-size: 0.24rem;
  color: #b6b6b6;
  line-height: 0.3rem;
  margin-top: 0.05rem;
}
.content-home .study ul .dolor {
  font-size: 0.3rem;
  color: #df007f;
  margin-top: 0.05rem;
}
.content-home .study ul .dolor span {
  font-size: 0.22rem;
}
.content-home .study ul .position01 {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
}
.content-home .study ul .position01 img {
  width: 0.3rem;
  height: 0.3rem;
}
.content-home .study ul .position02 {
  width: 1.75rem;
  height: 0.4rem;
  background: #df007f ;
  position: absolute;
  right: 0.3rem;
  bottom: 0.25rem;
  color: #fff;
  border: 1px solid #df007f;
  border-radius: 0.25rem ;
  line-height: 0.4rem;
  text-align: center;
  font-size: 0.26rem;
}
.content-home .study ul .position03 {
  width: 1.75rem;
  height: 0.4rem;
  background: #fff ;
  position: absolute;
  right: 0.3rem;
  bottom: 0.25rem;
  color: #df007f;
  border-radius: 0.25rem ;
  border: 1px solid #df007f;
  line-height: 0.4rem;
  text-align: center;
  font-size: 0.26rem;
}
.class-show {
  width: 100%;
  float: left;
}
.class-show div {
  float: left;
}
.class-show div img {
  width: 6.4rem;
  height: 3.45rem;
  float: left;
}
.banner02 {
  width: 100%;
  float: left;
}
.banner02 img {
  width: 6.4rem;
  height: 2.1rem;
  float: left;
}
.news {
  width: 100%;
  margin-top: 0.1rem;
  float: left;
}
.news div {
  width: 100%;
  box-sizing: border-box;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 0.2rem;
  line-height: 0.35rem;
  color: #999999;
  float: left;
}
.news .active .act {
  color: #df007f;
}
.banner03 {
  width: 100%;
  float: left;
  height: 2.1rem;
  overflow: hidden;
  margin-top: 0.1rem;
  background: url(../images/home/banner3.png) no-repeat;
  background-size: 6.4rem 4.89rem ;
  background-position: 0 -1.2rem;
}
.teacher {
  width: 100%;
  margin-bottom: 1rem;
  float: left;
}
.teacher .every {
  width: 1.4rem;
  float: left;
  margin-left: 0.15rem;
  margin-top: 0.4rem;
}
.teacher .every .people {
  width: 1.3rem;
  padding: 0.04rem;
  height: 1.5rem;
  float: left;
  box-shadow: 0 0 0.05rem #666;
}
.teacher .every .people img {
  width: 1.3rem;
  height: 1.5rem;
  float: left;
}
.teacher .every .name {
  color: #666666;
  font-size: 0.22rem;
  text-align: center;
  line-height: 0.6rem;
}
