.post {
  width: 100%;
  float: left;
  margin-top: 0.9rem;
}
.post .input {
  width: 6rem;
  height: 0.8rem;
  box-sizing: border-box;
  margin-left: 0.2rem;
  border: 1px solid #cccccc;
  font-size: 0.32rem;
  margin-top: 0.2rem;
  color: #d0d0d0;
  padding-left: 0.2rem;
}
.post .button {
  width: 6rem;
  margin-left: 0.2rem;
  height: 0.8rem;
  border-radius: 0.05rem;
  background: #df007f;
  color: #fff;
  font-size: 0.32rem;
  margin-top: 2rem;
}
.free {
  width: 100%;
  float: left;
}
.free a {
  font-size: 0.24rem;
  color: #333333;
  line-height: 0.8rem;
}
.another {
  width: 100%;
  float: left;
  margin-top: 0.2rem;
}
.another img {
  width: 6.4rem;
  height: 0.22rem;
  float: left;
}
.qq {
  width: 100%;
  float: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.qq a {
  margin-left: 0.95rem;
  float: left;
  width: 0.84rem;
  color: #000;
  font-size: 0.2rem;
  line-height: 0.3rem;
  text-align: center;
}
.qq a img {
  width: 0.84rem;
  height: 0.84rem;
  float: left;
}
