.coffe {
  color: #999999;
  font-size: 0.24rem;
  margin-top: 0.88rem;
  overflow: hidden;
}
.coffe .coffe-title {
  font-size: 0.26rem;
  color: #333333;
  text-align: center;
  margin: 0.33rem 0 0.32rem 0;
}
.coffe p {
  padding: 0 0.2rem 0 0.2rem;
}
.coffe .coffe-con {
  text-indent: 0.48rem;
  letter-spacing: 0.01rem;
  line-height: 0.48rem;
}
.coffe .coffe-data {
  margin-top: 0.65rem;
  margin-bottom: 1rem;
}
