.shisui {
  width: 100%;
  height: 4.05rem;
  margin-top: 0.88rem;
  background: url("../images/student/cafeidou.png") no-repeat 0 0;
  background-size: 100% 100%;
}
.cafeise {
  margin-top: 0.2rem;
  width: 100%;
}
.cafeise .title {
  font-size: 0.26rem;
  text-align: center;
  color: #333333;
}
.cafeise .con {
  text-indent: 0.48rem;
  font-size: 0.24rem;
  margin: 0.4rem 0.2rem 0.3rem 0.2rem ;
  color: #999999;
  line-height: 0.5rem;
}
.cafeibei {
  width: 100%;
  height: 4rem;
  background: url("../images/student/cafeibei.png") no-repeat 0 0;
  background-size: 100% 100%;
}
.map {
  width: 100%;
  height: 4rem;
  margin: 0.2rem 0 1.1rem 0;
  background: url("../images/student/map.png") no-repeat 0 0;
  background-size: 100% 100%;
}
